<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.misection.study">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AndroidStudyDemo">
        <activity
                android:name=".handler.controller.HandlerActivity"
                android:exported="true" />
        <activity android:name=".subthreadupdateui.SubThreadUpdateUiActivity" />
        <activity
                android:name=".launchmode.controller.SingleInstanceActivity"
                android:launchMode="singleInstance" />
        <activity
                android:name=".launchmode.controller.SingleTaskActivity"
                android:launchMode="singleTask" />
        <activity
                android:name=".launchmode.controller.SingleTopActivity"
                android:launchMode="singleTop" />
        <activity
                android:name=".launchmode.controller.StandardStartupActivity"
                android:launchMode="standard" />
        <activity android:name=".launchmode.controller.LaunchControllerActivity" />
        <activity android:name=".lifecycle.controller.UtilManActivity" />
        <activity android:name=".lifecycle.controller.LifeCycleActivity" />
        <activity android:name=".menu.controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>